@model CMS.ViewModels.VerifyEmailViewModel

@{
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row justify-content-center mt-5">
	<div class="col-xl-6 col-lg-4 col-md-4">
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->

				<div class="p-5">
					<div class="text-center">
						<h1 class="h4 text-gray-900 mb-4">Verify your Email!</h1>
					</div>
					<form asp-action="VerifyEmail" method="post" class="user">
						@Html.AntiForgeryToken()
						<div class="form-group">
							<input asp-for="Email" class="form-control form-control-user"
								   id="exampleInputEmail" aria-describedby="emailHelp"
								   placeholder="Enter Email Address...">
							<span asp-validation-for="Email" class="small text-danger"></span>
						</div>

						<div asp-validation-summary="ModelOnly" class="small"></div>

						<button type="submit" class="btn btn-primary btn-user btn-block">
							Login
						</button>
					</form>
					<hr>
					@if (User.Identity.IsAuthenticated)
					{
						<div class="text-center">
							<a asp-controller="Home" asp-action="Index" class="small">Return to the Dashboard</a>
						</div>
					}
					else
					{
						<div class="d-flex justify-content-between">
							<div class="text-center">
								<a asp-controller="Account" asp-action="Login" class="small"></a>
							</div>
							<div class="text-center">
								<a asp-controller="Account" asp-action="Register" class="small">Create an Account!</a>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}
